Flask==0.10.1
Flask-Assets==0.8
Jinja2==2.7.1
Markdown==2.3.1
MarkupSafe==0.18
PyYAML==3.10
Werkzeug==0.9.4
distribute==0.6.35
gunicorn==18.0
itsdangerous==0.23
pyScss==1.2.0.post3
six==1.4.1
uuid==1.30
webassets==0.8
wsgiref==0.1.2
