{% extends "layout.html" %}
{% block content %}
<div class="coursework">
  <div class="course">
    <div class="course-title">Digital Signal Processing</div>
    <div class="notes">
      <div class="title">Notes</div>
      <ul>
        <li><a href="/courses/notes/dsp">DFT, DFS, DTFT</a></li>
      </ul>
    </div>
    <div class="assignments">
      <div class="title">Numerical Examples</div>
      <ul>
        <li><a href="https://github.com/maxgillett/coursera/blob/master/Digital%20Signal%20Processing/Module%202/karplus-strong-alg.py">Karpus Strong Algorithm</a></li>
        <li>Grayscale Basis</li>
        <li>Fourier Transforms Basis</li>
      </ul>
    </div>
  </div>
  <div class="course">
    <div class="course-title">Algorithms Part 1</div>
    <div class="assignments">
      <div class="title">Assignments</div>
      <ul>
        <li><a href="https://github.com/maxgillett/coursera/tree/master/Algorithms%20Part%201/week1/percolation">HW 1: Percolation</a></li>
        <li><a href="https://github.com/maxgillett/coursera/tree/master/Algorithms%20Part%201/week2/queues">HW 2: Stacks and Queues</a></li>
      </ul>
    </div>
  </div>
  <div class="course">
    <div class="course-title">The Hardware Software Interface</div>
    <div class="assignments">
      <div class="title">Assignments</div>
      <ul>
        <li><a href="https://github.com/maxgillett/coursera/tree/master/Hardware%20Software%20Interface/course-materials/lab1">Lab 1: Integer and Floating Point Numbers</a></li>
        <li><a href="https://github.com/maxgillett/coursera/tree/master/Hardware%20Software%20Interface/course-materials/lab2">Lab 2: x86 Assembly</a></li>
        <li><a href="https://github.com/maxgillett/coursera/tree/master/Hardware%20Software%20Interface/course-materials/lab3">Lab 3: Arrays and Structs</a></li>
        <li><a href="https://github.com/maxgillett/coursera/tree/master/Hardware%20Software%20Interface/course-materials/lab4">Lab 4: Cache Geometries</a></li>
        <li><a href="https://github.com/maxgillett/coursera/tree/master/Hardware%20Software%20Interface/course-materials/lab5">Lab 5: Writing a Dynamic Storage Allocator</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
